@import "variables";
@import "header";
@import "footer";
@import "mixins";
@import "vendor";


body {
  h1{
    margin: 0;
  }
  h2{
    margin: 0;
  }
  h3{
    margin: 0;
  }
  h4{
    margin: 0;
  }
  h5{
    margin: 0;
  }
    li{
    margin: 0;
  }
}

*{
  font-family: Roboto;
}

.orange{
  color: $orange;
}