@import "main";

.main{
  background-color: #f9f9f9;
  margin: 0 auto;
  .main-wrapper{

  }
}

// .text-wrapper{
//   @include flexCenter;  
//   width: 772px;
//   height: 95px;
//   margin: 0 auto;
//   .text-block{
//     .text-title{
//       width: 259px;
//       height: 32px;
//       color: #454547;
//       font-size: 42px;
//       font-weight: 400;
//     }
//     .text-description{
//       width: 722px;
//       height: 39px;
//       color: #62656b;
//       font-family: Roboto;
//       font-size: 14px;
//       font-weight: 300;
//       line-height: 25px;
//       letter-spacing: 0.56px;
//     }
//   }
// }

.slider{
  height: 776px;
  .slider-wrapper{
    padding: 153px 0;
    width: 1140px;
    height: 469;
    margin: 0 auto;
    @include flexCenter; 
    .slider-block{
      width: 548px;
      height: 469px;
      .slider-text{
        font-size: 65px;
        font-weight: 700;
        width: 536px;
        height: 193px;
        font-family: Roboto;
        line-height: 72.83px;
        text-transform: capitalize;
        margin-bottom: 50px;
      }
      .slider-text-orange{
        color: $orange;
      }
      .slider-description{
        width: 548px;
        height: 40px;
        color: #6d6d6d;
        font-size: 14px;
        font-weight: 300; 
        line-height: 26px;
        font-family: Roboto;
        letter-spacing: 0.56px;
        margin-bottom: 34px;
      }
      .slider-description-text{
        width: 380px;
        height: 14px;
        font-family: Roboto;
        color: #6d6d6d;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.56px;
        margin-bottom: 50px;
      }
      .slider-block-btn{
        .btn-slider{
          @include button-type-one;
        }
      }
    }
    .slider-image-block{
      width: 556px;
      height: 424px;
      padding-top: 55px;
      .slider-image{
      }
    }
  }
}  

.about-us {
  .about-wrapper{
    height: 950px;
    margin: 0 auto;
    .about-container{
      width: 1139px;
      height: 260px;
      margin: 0 auto;
      @include flexSpaceBetween;
      .about-block{
        width: 360px;
        height: 260px;
        border-radius: 5px;
        background-color: #1eba87;
        box-shadow: -1px 7px 8px 1px rgba(69, 69, 71, 0.5);
        .about-block-wrapper{
          @include flexCenterColumn;
          margin-top:  50px;
        .about-block-title{
          text-transform: capitalize;
          width: 230px;
          height: 22px;
          color: #ffffff;
          font-family: Roboto;
          font-size: 22px;
          font-weight: 500;
          line-height: 27px;
          letter-spacing: 0.88px;
          text-align: center;
        }
          .about-block-description{
            width: 270px;
            height: 61px;
            font-family: Roboto;
            color: #ffffff;
            font-size: 14px;
            font-weight: 300;
            line-height: 25px;
            letter-spacing: 0.56px;
            text-align: center;
          }
            .about-block-more{
              text-align: center;
              text-transform: capitalize; 
              width: 94px;
              height: 11px;
              color: #ffffff;
              font-size: 15px;
              font-weight: 700;
            }
          }
        }
        .orange-block{
          background-color: $orange;
        }
      }
    }
  }
  .about-block-infoImage{
    .about-image-block{
      padding-top: 40px;
    }
    width: 1111px;
    height: 441px;
    margin: 0 auto;
    @include flexCenter;
    margin-top: 90px;
    .about-info-block{
      width: 649px;
      height: 324;
      margin: 0 auto;
      .about-info-title{
        width: 400px;
        height: 29px;
        color: #3d3d3e;
        font-family: Roboto;
        font-size: 30px;
        font-weight: 500;
        text-transform: capitalize;
      }
      .about-info-description{
        width: 649px;
        height: 264px;
        color: #6d6d6d;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0.6px;
      }
    }
  }
  .about-block-btn{
    @include flexCenter;
    margin-left: 75px;
    .btn-about{
      @include button-type-one;
      margin-left: 65px;
      width: 140px;
      height: 50px;
  }          
}

.achive{
  background-color: $orange;
  margin-top: 130px;
  .achive-wrapper{
    height: 330px;
    .achive-container{
      width: 1003px;
      margin: 0 auto;
    }
  }
}

.service{
  height: 1021px;
  .service-wrapper{
    width: 1139px;
    height: 760px;
    margin: 0 auto;
    .service-block-btn{
      @include flexCenter;
      margin-top: 90px;
      .btn-service{
        @include button-type-one;
      }
    }
  }
}
.service-container{
  @include flexSpaceBetween;
  height: 430px;
  .service-block{
    width: 360px;
    height: 430px;
    border-radius: 5px;
    background-color: #1eba87;
    .service-content{
      width: 270px;
      height: 310px;
      margin: 60px 45px 60px 45px;
      @include flexCenterColumn;
      .service-image{
        margin-bottom: 54px;
      }
      .service-block-title{
        width: 244px;
        height: 22px;
        color: #f9f9f9;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 20px;
      }
      .service-block-description{
        width: 270px;
        height: 61px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0.56px;
        margin-bottom: 40px;
        text-align: center;
      }
      .service-block-more{
        width: 94px;
        height: 11px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
  .orange-block{
    background-color: $orange;
  }
}

.case {
  height: 1462px;
  .case-wrapper{
    .case-block-btn{
      @include flexCenter;
      margin-top: 93px;
      .btn-case{
        @include button-type-one;
      }
    }
  }
}
.case-container{
  width: 1140px;
  height: 873px;
  margin: 0 auto;
  @include flexSpaceBetween;
  flex-wrap: wrap;
  .case-block{
    width: 360px;
    height: 422px;
    margin-bottom: 30px;
    box-shadow: -1px 6px 9px rgba(35, 31, 32, 0.35);
    .case-block-image{
      width: 360px;
      height: 322px;
      background-color: #1eba87;
      @include flexImages;
      .case-image{
      }
    }
    .case-block-bottom{
      height: 100px;
      background-color: #ffffff;
      border-bottom: 3px solid #1eba87;
      .case-block-bottom-title{
        width: 242px;
        height: 19px;
        color: #1a1818;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 33.33px;
        letter-spacing: 0.8px;
        text-transform: capitalize;
        text-align: center;
        margin: 0 auto;
        padding-top: 26px;
      }
      .case-block-bottom-description{
        width: 103px;
        height: 13px;
        color: #454547;
        font-family: Nunito;
        font-size: 14px;
        font-weight: 400;
        line-height: 33.33px;
        letter-spacing: 0.56px;
        margin: 0 auto;
        margin-top: 15px;
        text-transform: capitalize;
      }
    }
    .orange-block{
      background-color: $orange;
    }
    .orange{
      border-bottom: 3px solid $orange;
    }
  }
}

.email{
  background-color: $orange;
  .email-wrapper{
    width: 825px;
    height: 366px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .email-text-block{
      width: 798px;
      height: 85px;
      .email-text{
        font-family: "Roboto - Regular";
        color: #f9f9f9;
        font-family: Roboto;
        font-weight: 400;
        font-size: 43px;
        line-height: 52.83px;
        text-align: center;
      }
      .email-text-other{
        text-transform: capitalize;
        font-family: "Roboto - Regular";
        font-size: 46px;
        font-weight: 400;
        font-family: "Roboto - Bold";
        font-weight: 700;
      }
    }
    .email-input-block{
      width: 825px;
      height: 68px;
      .email-input{
        width: 649px;
        height: 68px;
        border-radius: 5px;
      }
      .email-input-btn{
        width: 176px;
        height: 68px;
        .email-btn{
          width: 176px;
          height: 75px;
          position: absolute;
          right: 262px;
          top: 5022px;
          border-radius: 5px;
          background-color: #f9f9f9;
        }
      }
    }
  }
}
