@import "main";

.main{
  background-color: #f9f9f9;
  margin: 0 auto;
  .main-wrapper{

  }
}

// .text-wrapper{
//   @include flexCenter;  
//   width: 772px;
//   height: 95px;
//   margin: 0 auto;
//   .text-block{
//     .text-title{
//       width: 259px;
//       height: 32px;
//       color: #454547;
//       font-size: 42px;
//       font-weight: 400;
//     }
//     .text-description{
//       width: 722px;
//       height: 39px;
//       color: #62656b;
//       font-family: Roboto;
//       font-size: 14px;
//       font-weight: 300;
//       line-height: 25px;
//       letter-spacing: 0.56px;
//     }
//   }
// }
.slider{
  height: 776px;
  .slider-wrapper{
    padding: 153px 0;
    height: 469;
    margin: 0 auto;
    @include flexCenter;
    .slider-block{
      width: 548px;
      height: 469px;
      .slider-text{
        font-size: 65px;
        font-weight: 700;
        width: 536px;
        height: 193px;
        font-family: Roboto;
        line-height: 72.83px;
        text-transform: capitalize;
        margin-bottom: 50px;
      }
      .slider-text-orange{
        color: $orange;
      }
      .slider-description{
        width: 548px;
        height: 40px;
        color: #6d6d6d;
        font-size: 14px;
        font-weight: 300; 
        line-height: 26px;
        font-family: Roboto;
        letter-spacing: 0.56px;
        margin-bottom: 34px;
      }
      .slider-description-block{
        .check{
          width: 16px;
          height: 13px;
          color: #ff6a40;
          font-size: 18px;
        }
        .slider-description-text{
          width: 380px;
          height: 14px;
          font-family: Roboto;
          color: #6d6d6d;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          letter-spacing: 0.56px;
          margin-bottom: 50px;
      }
    }
      .slider-block-btn{
        .btn-slider{
          @include button-type-one;
        }
      }
    }
    .slider-image-block{
      width: 556px;
      height: 424px;
      padding-top: 55px;
      .slider-image{
      }
    }
  }
}  

.about-us {
  .about-wrapper{
    height: 950px;
    margin: 0 auto;
    @include flexCenterColumn;
    justify-content: space-evenly;
    .about-container{
      width: 1139px;
      height: 260px;
      margin: 0 auto;
      @include flexSpaceBetween;
      .about-block{
        width: 360px;
        height: 260px;
        border-radius: 5px;
        background-color: #1eba87;
        box-shadow: -1px 7px 8px 1px rgba(69, 69, 71, 0.5);
        .about-block-wrapper{
          @include flexCenterColumn;
          margin-top:  50px;
          .about-block-title{
            text-transform: capitalize;
            width: 230px;
            height: 22px;
            color: #ffffff;
            font-family: Roboto;
            font-size: 22px;
            font-weight: 500;
            line-height: 27px;
          letter-spacing: 0.88px;
          text-align: center;
        }
        .about-block-description{
          width: 270px;
          height: 61px;
          font-family: Roboto;
          color: #ffffff;
          font-size: 14px;
          font-weight: 300;
          line-height: 25px;
          letter-spacing: 0.56px;
          text-align: center;
        }
            .about-block-more{
              text-align: center;
              text-transform: capitalize; 
              width: 94px;
              height: 11px;
              color: #ffffff;
              font-size: 15px;
              font-weight: 700;
            }
          }
        }
        .orange-block{
          background-color: $orange;
        }
      }
    }
  }
  .about-block-infoImage{
    width: 1111px;
    height: 441px;
    margin: 0 auto;
    @include flexCenter;
    .about-image-block{
      padding-top: 40px;
    }
    margin-top: 90px;
    .about-info-block{
      width: 649px;
      height: 324;
      margin: 0 auto;
      .about-info-title{
        width: 400px;
        height: 29px;
        color: #3d3d3e;
        font-family: Roboto;
        font-size: 30px;
        font-weight: 500;
        text-transform: capitalize;
      }
      .about-info-description{
        width: 649px;
        height: 264px;
        color: #6d6d6d;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0.6px;
      }
    }
  }
  .about-block-btn{
    @include flexCenter;
    margin-left: 75px;
    .btn-about{
      @include button-type-one;
      margin-left: 65px;
      width: 140px;
      height: 50px;
    }          
  }
  
  .achive{
    background-color: $orange;
    margin-top: 130px;
    .achive-wrapper{
      @include flexCenterColumn;
      justify-content: space-evenly;
      height: 330px;
      .achive-container{
        width: 1003px;
        height: 150px;
        margin: 0 auto;
        @include flexSpaceBetween;
        .achive-block{
          width: 141px;
          height: 149px;
          .achive-content{
            @include flexCenterColumn;
            justify-content: center;
          .achiveIcons{
            width: 61px;
            height: 52px;
            color: #ffffff;
            font-size: 60px;
            font-weight: bold;
            line-height: 20.42px;
            letter-spacing: -0.9px;
            text-align: center;
            margin-bottom: 35px;
          }
          .achive-numbers{
            width: 72px;
            height: 22px;
            color: #ffffff;
            font-family: Roboto;
            font-size: 30px;
            font-weight: 700;
            line-height: 20.42px;
            text-transform: uppercase;
            letter-spacing: 1.95px;
            text-align: center;
            margin-bottom: 18px;
          }
          .achive-names{
            width: 141px;
            height: 21px;
            color: #ffffff;
            font-family: Roboto;
            font-size: 20px;
            font-weight: bold;
            line-height: 20.42px;
            letter-spacing: 0.8px;
            text-align: center;
          }
        }
      }
    }
  }
}
  
  .service{
    height: 1021px;
    .service-wrapper{
      @include flexCenterColumn;
      justify-content: space-evenly;
      height: 760px;
      margin: 0 auto;
      .service-block-btn{
        @include flexCenter;
        margin-top: 90px;
        .btn-service{
          @include button-type-one;
        }
      }
    }
  }
  .service-container{
    width: 1139px;
    @include flexSpaceBetween;
    height: 430px;
    .service-block{
      width: 360px;
      height: 430px;
      border-radius: 5px;
      background-color: #1eba87;
    .service-content{
      width: 270px;
      height: 310px;
      margin: 60px 45px 60px 45px;
      @include flexCenterColumn;
      .service-image{
        margin-bottom: 54px;
      }
      .service-block-title{
        width: 244px;
        height: 22px;
        color: #f9f9f9;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 20px;
      }
      .service-block-description{
        width: 270px;
        height: 61px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0.56px;
        margin-bottom: 40px;
        text-align: center;
      }
      .service-block-more{
        width: 94px;
        height: 11px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
  .orange-block{
    background-color: $orange;
  }
}

.case {
  height: 1462px;
  .case-wrapper{
    @include flexCenterColumn;
    justify-content: space-evenly;
    .case-block-btn{
      @include flexCenter;
      margin-top: 93px;
      .btn-case{
        @include button-type-one;
      }
    }
  }
}
.case-container{
  width: 1140px;
  height: 873px;
  margin: 0 auto;
  @include flexSpaceBetween;
  flex-wrap: wrap;
  .case-block{
    width: 360px;
    height: 422px;
    margin-bottom: 30px;
    box-shadow: -1px 6px 9px rgba(35, 31, 32, 0.35);
    .case-block-image{
      width: 360px;
      height: 322px;
      background-color: #1eba87;
      @include flexImages;
    }
    .case-block-bottom{
      height: 100px;
      background-color: #ffffff;
      border-bottom: 5px solid #1eba87;
      .case-block-bottom-title{
        width: 242px;
        height: 19px;
        color: #1a1818;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 33.33px;
        letter-spacing: 0.8px;
        text-transform: capitalize;
        text-align: center;
        margin: 0 auto;
        padding-top: 26px;
      }
      .case-block-bottom-description{
        width: 103px;
        height: 13px;
        color: #454547;
        font-family: Nunito;
        font-size: 14px;
        font-weight: 400;
        line-height: 33.33px;
        letter-spacing: 0.56px;
        margin: 0 auto;
        margin-top: 15px;
        text-transform: capitalize;
      }
    }
    .orange-block{
      background-color: $orange;
    }
    .orange{
      border-bottom: 5px solid $orange;
    }
  }
}

.email{
  background-color: $orange;
  .email-wrapper{
    @include flexCenterColumn;
    justify-content: space-evenly;
    height: 366px;
    .email-text-block{
      width: 798px;
      height: 85px;
      .email-text{
        font-family: "Roboto - Regular";
        color: #f9f9f9;
        font-family: Roboto;
        font-weight: 400;
        font-size: 43px;
        line-height: 52.83px;
        text-align: center;
      }
      .email-text-other{
        text-transform: capitalize;
        font-family: "Roboto - Regular";
        font-size: 46px;
        font-weight: 400;
        font-family: "Roboto - Bold";
        font-weight: 700;
      }
    }
    .email-input-block{
      width: 825px;
      height: 68px;
      .email-input{
        width: 649px;
        height: 68px;
        border: 2px solid #ffffff;
        border-radius: 5px;
        background-color: $orange;
      }
      .email-input-btn{
        width: 176px;
        height: 68px;
        .email-btn{
          width: 176px;
          height: 75px;
          position: absolute;
          right: 262px;
          top: 5022px;
          border-radius: 5px;
          text-transform: capitalize;
          color: $orange;
          background-color: #f9f9f9;
        }
      }
    }
  }
}

.pricing{
  height: 1025px;
  .pricing-wrapper{
    @include flexCenterColumn;
    justify-content: space-evenly;
    height: 765px;
    margin: 0 auto;
    .pricing-block-btn{
      @include flexCenter;
      .pricing-btn{
        width: 136px;
        height: 39px;
        border-radius: 5px;
        background-color: #1eba87;
        text-transform: capitalize;
      }
    }
  }
}
.pricing-container{
  width: 1142px;
  height: 581px;
  @include flexSpaceBetween;
  .pricing-block{
    width: 361px;
    .pricing-block-top{
      width: 360px;
      height: 252px;
      background-color: #1eba87;
      @include flexCenterColumn;
      .pricing-image-top{
        @include flexImages;
        padding-top: 14px;
      }
        .pricing-top-title{
          width: 190px;
          @include flexImages;
          text-align: center;
          height: 70px;
          color: #ffffff;
          font-family: Roboto;
          font-size: 21px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.83px;
        }
        .pricing-top-price{
          padding-top: 10px;
          width: 199px;
          height: 50px;
          color: #ffffff;
          font-family: Roboto;
          font-size: 54px;
          font-weight: 700;
          text-align: center;
          line-height: 27px;
        }
      }.orange-block{
        background-color: $orange;
      }
      .pricing-block-bottom{
        width: 361px;
        height: 327px;
        box-shadow: -1px 6px 9px rgba(35, 31, 32, 0.35);
        border-radius: 5px;
        background-color: #ffffff;
        border-bottom: 5px solid #1eba87;
        .pricing-bottom-item{
          width: 220px;
          height: 184px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;
          margin-top: 32px;
          margin-bottom: 32px;
          .pricing-bottom-link{
            width: 195px;
            height: 16px;
            color: #9b9a9a;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 27px;
          }
        }
      }
      .orange{
        border-bottom: 5px solid $orange;
      }
    }
  }

.team{
  height: 935px;
  .team-wrapper{
    @include flexCenterColumn;
    justify-content: space-evenly;
    height: 603px;
    margin: 0 auto;
  }
}

.team-container{
  width: 1140px;
  height: 420px;
  @include flexSpaceBetween;
  .team-block{
    width: 264px;
    height: 420px;
    .team-imagine-block{
      width: 263px;
      height: 188px;
      background-color: #1eba87;
      @include flexImages;
    }
    .orange-block{
      background-color: $orange;
    }
    .team-block-info{
      width: 263px;
      height: 231px;
      border-radius: 5px;
      background-color:#ffffff;
      @include flexSpaceAround;
      flex-direction: column;
      align-items: center;
      border-bottom: 5px solid #1eba87;
      .team-block-title{
        width: 263px;
        height: 16px;
        color: #323335;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        text-align: center;
        margin:  0 auto;
        text-transform: uppercase;
      }
      .team-block-status{
        width: 140px;
        height: 14px;
        color: #ff6a40;
        text-align: center;
        font-family: Roboto;
        text-transform: capitalize;
        font-size: 14px;
        font-style: italic;
        line-height: 27px;
      }
      .team-block-description{
        width: 216px;
        height: 86px;
        text-align: center;
        color: #9c9c9c;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.56px;
      }
    }
    .orange{
      border-bottom: 5px solid $orange;
    }
  }
}


.client{
  height: 803px;
  background-image: url('../images/Layer_531.png');
  .client-wrapper{
    height: 803px;
    background-color: #ff6a40;
    opacity: 0.9; 
    @include flexCenterColumn;
    justify-content: center;
  }
}
.client-container{
  width: 1005px;
  height: 263px;
  @include flexCenter;
  justify-content: space-evenly;
  .client-block{
    width: 488px;
    display: flex;
    .client-block-imagine{
      width: 196px;
      background-color: #1eba87;
      @include flexImages;
    }
    .client-block-info{
      width: 292px;
      @include flexCenterColumn;
      justify-content: space-evenly;
      background-color: #ffffff;  
      border-right: 5px solid #1eba87;
      .client-block-description{
        width: 261px;
        height: 114px;
        color: #5f5f5f;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.56px;
      }
      .client-block-title{
        width: 159px;
        height: 17px;
        color: #353537;
        font-family: Roboto;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 400;
      }
      .client-block-status{
        width: 166px;
        height: 14px;
        color: #1eba87;
        font-family: Roboto;
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0.56px;
        text-transform: capitalize;
      }
    }
  }
}

.blog{
  height: 937px;
  .blog-wrapper{
    background-color: #f9f9f9;
    @include flexCenterColumn;
    justify-content: space-evenly;
  }
}
.blog-container{
  width: 1141px;
   height: 535px; 
   margin: 0 auto;
   @include flexSpaceBetween;
   .blog-block{
     width: 361px;
     .blog-block-imagine{
       width: 360px;
       height: 241px;
       border-radius: 5px;
       background-color: #1eba87;
       @include flexImages;
      }
      .orange-block{
        background-color: $orange;
      }
      .blog-block-info{
        height: 293px;
        @include flexCenterColumn;
        justify-content: space-evenly;
        border-bottom: 5px solid #1eba87;
        .blog-block-post{
          width: 300px;
          @include flexSpaceAround;
          align-items: center;
          .blog-block-post-user{
            width: 93px;
            height: 11px;
            color: #9e9e9e;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.56px;
            text-align: center;
            text-transform: capitalize;
          }
        }
        .blog-block-inside{
          @include flexCenterColumn;
          justify-content: space-evenly;
          .blog-block-title{
            width: 278px;
            height: 18px;
            color: #353537;
            font-family: Roboto;
            font-size: 22px;
            text-transform: capitalize;
            font-weight: 400;
          }
          .blog-block-description{
            width: 306px;
            height: 89px;
            text-align: center;
            color: #9e9e9e;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 300;
            line-height: 25px;
            letter-spacing: 0.56px;
          }
          .blog-block-more{
            width: 89px;
            height: 11px;
            color: #353537;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 700;
            text-transform: capitalize;
          }
        }
      }
      .orange{
        border-bottom: 5px solid $orange;
      }
    }
  }