<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./css/vendor.min.css">
    <link rel="stylesheet" href="./css/googleFonts.css">
    <link rel="stylesheet" href="./css/home.min.css">
</head>

<body>
    <div class="header-container">
        <div class="header-wrapper">
            <div class="header">
                <span class="header-register">
                    Register for FREE! | Login
                </span>
                <div class="header-contacts">
                    <span><i class="fas fa-phone"></i> +777 777 777 777</span>
                    <span><i class="fas fa-envelope"></i> AskatDzh@gmail.com</span>
                </div>
                <div class="header_social-media">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.behance.net/" target="_blank"><i class="fab fa-behance"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://vimeo.com/" target="_blank"><i class="fab fa-vimeo-v"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="sub-header">
            <div class="sub-header-container">
                <div class="sub-header_logo">
                    <img src="./images/logo.png" alt="">
                    <img src="./images/logo-text.png" alt="">
                </div>
                <div class="sub-header_list">
                    <ul>
                        <li><a href="#">home</a></li>
                        <li><a href="#">about</a></li>
                        <li><a href="#">service</a></li>
                        <li><a href="#">case study</a></li>
                        <li><a href="#">bolg</a></li>
                        <li><a href="#">page</a></li>
                        <li><a href="#">contact</a></li>
                    </ul>
                </div>
                <div class="sub-header_analyze">
                    <button>free seo analyze</button>
                </div>
            </div>
        </div>
    </div>









    <div class="main">
        <div class="main-wrapper">
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="slider-block">
                        <h2 class="slider-text">improve your <span class="slider-text-orange">website's </span> rank on
                            with us...!</h2>
                        <p class="slider-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Quasi, corporis accusamus perspiciatis tempore atque aperiam quibusdam!.</p>
                        <div class="slider-description-block">
                            <!-- <i class="fas fa-check check"></i> -->
                            <p class="slider-description-text">Lorem ipsum dolor sit ame.</p>
                            <!-- <i class="fas fa-check check"></i> -->
                            <p class="slider-description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                        <div class="slider-block-btn">
                            <button class="btn-slider">loren more</button>
                        </div>
                    </div>
                    <div class="slider-image-block">
                        <img src="../images/images.png" alt="" class="slider-image">
                    </div>
                </div>
            </div>
            <div class="about-us">
                <div class="about-wrapper">
                    <div class="text-wrapper">
                        <div class="text-block">
                            <h2 class="text-title"><span class="orage">who</span> we are?</h2>
                            <p class="text-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Explicabo,
                                minus.</p>
                        </div>
                    </div>
                    <div class="about-container">
                        <section class="about-block">
                            <div class="about-block-wrapper">
                                <h4 class="about-block-title">web analytics</h4>
                                <p class="about-block-description">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Dolores sint facilis veniam?
                                    elit.
                                    Placeat, deleniti.</p>
                                <p class="about-block-more">loren more</p>
                            </div>
                        </section>
                        <section class="about-block orange-block">
                            <div class="about-block-wrapper">
                                <h4 class="about-block-title">digital marketing</h4>
                                <p class="about-block-description">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Dolores sint facilis veniam?
                                    elit.
                                    Temporibus, repellat?</p>
                                <p class="about-block-more">loren more</p>
                            </div>
                        </section>
                        <section class="about-block">
                            <div class="about-block-wrapper">
                                <h4 class="about-block-title">website optimization</h4>
                                <p class="about-block-description">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Dolores sint facilis veniam?
                                    elit.
                                    Vitae, consectetur!</p>
                                <p class="about-block-more">loren more</p>
                            </div>
                        </section>
                    </div>
                    <div class="about-block-infoImage">
                        <div class="about-image-block">
                            <img src="./images/img_hero_1a@2x.png" alt="" class="about-image">
                        </div>
                        <div class="about-info-block">
                            <h4 class="about-info-title">our compony information...</h4>
                            <p class="about-info-descripion">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Placeat a ab quod labore laborum officiis ut porro, officia numquam. Eveniet non iusto
                                esse excepturi voluptate debitis voluptates voluptatum quod in earum labore placeat odio
                                cumque possimus quaerat numquam officia corporis dignissimos reiciendis tempore,
                                accusantium, culpa quae, eaque odit! Libero, odit?
                            </p>
                            <p class="about-info-descripion">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi illum, molestias at rem
                                iure, ipsum quibusdam omnis voluptatibus totam ipsam accusamus corrupti maiores eaque
                                distinctio dolores amet? Dolores tempora ipsa inventore, voluptatibus quaerat
                                praesentium deserunt possimus reiciendis similique debitis veritatis tempore earum,
                                dicta, blanditiis necessitatibus dolore nostrum animi suscipit? Neque!
                            </p>
                            <p class="about-info-descripion"><span class="orange">ipsum dolor sit amet consectetur,
                                    adipisicing
                                    elit. Ea, magnam. Quibusdam pariatur sapiente harum veniam. </span></p>
                        </div>
                    </div>
                    <div class="about-block-btn">
                        <button class="btn-about">loren more</button>
                        <button class="btn-about">loren more</button>
                    </div>
                </div>
            </div>
            <div class="achive">
                <div class="achive-wrapper">
                    <div class="achive-container">
                        <section class="achive-block">
                            <div class="achive-content">
                                <i class="fas fa-suitcase achiveIcons"></i>
                                <span class="achive-numbers">698+</span>
                                <span class="achive-names">project done</span>
                            </div>
                        </section>
                        <section class="achive-block">
                            <div class="achive-content">
                                <i class="far fa-smile achiveIcons"></i>
                                <span class="achive-numbers">263+</span>
                                <span class="achive-names">happy client</span>
                            </div>
                        </section>
                        <section class="achive-block">
                            <div class="achive-content">
                                <i class="fas fa-trophy achiveIcons"></i>
                                <span class="achive-numbers">69+</span>
                                <span class="achive-names">awrads wins</span>
                            </div>
                        </section>
                        <section class="achive-block">
                            <div class="achive-content">
                                <i class="fas fa-trophy achiveIcons"></i>
                                <span class="achive-numbers">1500+</span>
                                <span class="achive-names">cup of coffee</span>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="service">
                <div class="service-wrapper">
                    <div class="text-wrapper">
                        <div class="text-block">
                            <h2 class="text-title"><span class="orage">our</span> best services</h2>
                            <p class="text-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Aliquid,
                                totam! Illum porro facere aliquam dicta?</p>
                        </div>
                    </div>
                    <div class="service-container">
                        <section class="service-block orange-block">
                            <div class="service-content">
                                <img src="./images/Capa_2.png" alt="" class="service-image">
                                <span class="service-block-title">digital marketing</span>
                                <span class="service-block-description">Lorem ipsum, dolor sit amet consectetur
                                    adipisicing elit. Vel, eius.</span>
                                <span class="service-block-more">loren more</span>
                            </div>
                        </section>
                        <section class="service-block ">
                            <div class="service-content">
                                <img src="./images/Layer_1.png" alt="" class="service-image">
                                <span class="service-block-title">pay per click advertising</span>
                                <span class="service-block-description">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Perspiciatis, blanditiis.</span>
                                <span class="service-block-more">loren more</span>
                            </div>
                        </section>
                        <section class="service-block orange-block">
                            <div class="service-content">
                                <img src="./images/Capa_1.png" alt="" class="service-image">
                                <span class="service-block-title">digital marketing</span>
                                <span class="service-block-description">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Eveniet, repellendus.</span>
                                <span class="service-block-more">loren more</span>
                            </div>
                        </section>
                    </div>
                    <div class="service-block-btn">
                        <button class="btn-service">full services</button>
                    </div>
                </div>
            </div>
            <div class="case">
                <div class="case-wrapper">
                    <div class="text-wrapper">
                        <div class="text-block">
                            <h2 class="text-title"><span class="orage">our</span> case studio</h2>
                            <p class="text-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                                fugit
                                quo voluptate obcaecati natus ipsa?</p>
                        </div>
                    </div>
                    <div class="case-container">
                        <section class="case-block">
                            <div class="case-block-image">
                                <img src="./images/case-study1.png" alt="" class="case-image">
                            </div>
                            <div class="case-block-bottom">
                                <h4 class="case-block-bottom-title">web traffic managment</h4>
                                <p class="case-block-bottom-description">seo, marketing</p>
                            </div>
                        </section>
                        <section class="case-block">
                            <div class="case-block-image orange-block">
                                <img src="./images/case-study1.png" alt="" class="case-image">
                            </div>
                            <div class="case-block-bottom orange">
                                <h4 class="case-block-bottom-title">web traffic managment</h4>
                                <p class="case-block-bottom-description">seo, marketing</p>
                            </div>
                        </section>
                        <section class="case-block">
                            <div class="case-block-image">
                                <img src="./images/case-study1.png" alt="" class="case-image">
                            </div>
                            <div class="case-block-bottom">
                                <h4 class="case-block-bottom-title">web traffic managment</h4>
                                <p class="case-block-bottom-description">seo, marketing</p>
                            </div>
                        </section>
                        <section class="case-block">
                            <div class="case-block-image">
                                <img src="./images/case-study1.png" alt="" class="case-image">
                            </div>
                            <div class="case-block-bottom">
                                <h4 class="case-block-bottom-title">web traffic managment</h4>
                                <p class="case-block-bottom-description">seo, marketing</p>
                            </div>
                        </section>
                        <section class="case-block">
                            <div class="case-block-image orange-block">
                                <img src="./images/case-study1.png" alt="" class="case-image">
                            </div>
                            <div class="case-block-bottom orange">
                                <h4 class="case-block-bottom-title">web traffic managment</h4>
                                <p class="case-block-bottom-description">seo, marketing</p>
                            </div>
                        </section>
                        <section class="case-block">
                            <div class="case-block-image">
                                <img src="./images/case-study1.png" alt="" class="case-image">
                            </div>
                            <div class="case-block-bottom">
                                <h4 class="case-block-bottom-title">web traffic managment</h4>
                                <p class="case-block-bottom-description">seo, marketing</p>
                            </div>
                        </section>
                    </div>
                    <div class="case-block-btn">
                        <button class="btn-case">full cases</button>
                    </div>
                </div>
            </div>
            <div class="email">
                <div class="email-wrapper">
                    <div class="email-text-block">
                        <h4 class="email-text">Recieve your free seo report best analysis</br><span
                                class="email-text-other">now...</span></h4>
                    </div>
                    <div class="email-input-block">
                        <input type="text" placeholder="your website here..." class="email-input">
                        <div class="email-input-btn">
                            <button class="email-btn">check now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing">
                <div class="pricing-wrapper">
                    <div class="text-wrapper">
                        <div class="text-block">
                            <h2 class="text-title"><span class="orage">our</span> pracing plan</h2>
                            <p class="text-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Id
                                assumenda tenetur repudiandae maxime earum illum?</p>
                        </div>
                    </div>
                    <div class="pricing-container">
                        <section class="pricing-block">
                            <div class="pricing-block-top orange-block">
                                <div class="pricing-image-top">
                                    <img src="./images/icon1.png" alt="" class="pricing-image">
                                </div>
                                <span class="pricing-top-title">basic plan</span>
                                <h3 class="pricing-top-price">$87.96</h3>
                            </div>
                            <div class="pricing-block-bottom orange">
                                <ul class="pricing-bottom-item">
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            25 analytics campaings
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            includes branded reports
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            1 domain every 20 minutes
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            50 social accounts
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            1,250,000 crawled pages
                                        </a></li>
                                </ul>
                                <div class="pricing-block-btn">
                                    <button class="pricing-btn">chose plan</button>
                                </div>
                            </div>
                        </section>
                        <section class="pricing-block">
                            <div class="pricing-block-top">
                                <div class="pricing-image-top">
                                    <img src="./images/icon.png" alt="" class="pricing-image">
                                </div>
                                <span class="pricing-top-title">advancing plan</span>
                                <h3 class="pricing-top-price">$122.96</h3>
                            </div>
                            <div class="pricing-block-bottom">
                                <ul class="pricing-bottom-item">
                                    <li class="prcing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            25 analytics campaings
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            includes branded reports
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            1 domain every 20 minutes
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            50 social accounts
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            1,250,000 crawled pages
                                        </a></li>
                                </ul>
                                <div class="pricing-block-btn">
                                    <button class="pricing-btn">chose plan</button>
                                </div>
                            </div>
                        </section>
                        <section class="pricing-block">
                            <div class="pricing-block-top orange-block">
                                <div class="pricing-image-top">
                                    <img src="./images/icon3.png" alt="" class="pricing-image">
                                </div>
                                <span class="pricing-top-title">pltinum plan</span>
                                <h3 class="pricing-top-price">$780.96</h3>
                            </div>
                            <div class="pricing-block-bottom orange">
                                <ul class="pricing-bottom-item">
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            25 analytics campaings
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            includes branded reports
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            1 domain every 20 minutes
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            50 social accounts
                                        </a></li>
                                    <li class="pricing-bottom-list">
                                        <i class="quote"></i><a href="" class="pricing-bottom-link">
                                            1,250,000 crawled pages
                                        </a></li>
                                </ul>
                                <div class="pricing-block-btn">
                                    <button class="pricing-btn">chose plan</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="team-wrapper">
                    <div class="text-wrapper">
                        <div class="text-block">
                            <h2 class="text-title"><span class="orage">our</span> pracing plan</h2>
                            <p class="text-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Sunt
                                aut
                                aperiam, dolor quos ipsum id.</p>
                        </div>
                    </div>
                    <div class="team-container">
                        <section class="team-block">
                            <div class="team-imagine-block orange-block">
                                <img src="./images/Vector_Smart_Object.png" alt="" class="team-imagine">
                            </div>
                            <div class="team-block-info orange">
                                <h4 class="team-block-title">jhone jonnery</h4>
                                <span class="team-block-status">leader of founder</span>
                                <p class="team-block-description">Lorem ipsum dolor sit, amet consectetur
                                    adipisicing
                                    elit. Ad, vitae?</p>
                            </div>
                        </section>
                        <section class="team-block">
                            <div class="team-imagine-block">
                                <img src="./images/Vector_Smart_Object.png" alt="" class="team-imagine">
                            </div>
                            <div class="team-block-info">
                                <h4 class="team-block-title">marting morgan</h4>
                                <span class="team-block-status">blog/magagin writter</span>
                                <p class="team-block-description">Lorem ipsum dolor sit amet consectetur
                                    adipisicing
                                    elit.
                                    Quam, dolor!</p>
                            </div>
                        </section>
                        <section class="team-block">
                            <div class="team-imagine-block orange-block">
                                <img src="./images/Vector_Smart_Object.png" alt="" class="team-imagine">
                            </div>
                            <div class="team-block-info orange">
                                <h4 class="team-block-title">rhima neju</h4>
                                <span class="team-block-status">web developer</span>
                                <p class="team-block-description">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Laborum, molestiae?</p>
                            </div>
                        </section>
                        <section class="team-block">
                            <div class="team-imagine-block">
                                <img src="./images/Vector_Smart_Object.png" alt="" class="team-imagine">
                            </div>
                            <div class="team-block-info">
                                <h4 class="team-block-title">tusher zover</h4>
                                <span class="team-block-status">graphic designer</span>
                                <p class="team-block-description">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Temporibus, ratione.</p>
                            </div>
                        </section>
                    </div>
                    <!--+ slider-block -->
                </div>
            </div>
            <div class="client">
                <div class="client-wrapper">
                    <div class="text-wrapper">
                        <div class="client-text-block">
                            <h2 class="client-title"><span class="orage">our</span> client says</h2>
                            <p class="client-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Numquam
                                sequi ea ipsam odit voluptates cum.</p>
                        </div>
                    </div>
                    <div class="client-container">
                        <section class="client-block">
                            <div class="client-block-imagine">
                                <img src="./images/Vector_Smart_Object.png" alt="" class="client-imagine">
                            </div>
                            <div class="client-block-info">
                                <p class="client-block-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Magnam ducimus itaque quaerat asperiores, quod debitis eum eaque animi
                                    deleniti.</p>
                                <h4 class="client-block-title">maikel jhone</h4>
                                <span class="client-block-status">founder,resumme.com</span>
                            </div>
                        </section>
                        <section class="client-block">
                            <div class="client-block-imagine">
                                <img src="./images/Vector_Smart_Object.png" alt="" class="client-imagine">
                            </div>
                            <div class="client-block-info">
                                <p class="client-block-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Magnam ducimus itaque quaerat asperiores, quod debitis eum eaque animi
                                    deleniti.</p>
                                <h4 class="client-block-title">nahiyan nafi</h4>
                                <span class="client-block-status">founder,resumme.com</span>
                            </div>
                        </section>
                    </div>
                    <!-- +slider-block -->
                </div>
            </div>
            <div class="blog">
                <div class="blog-wrapper">
                    <div class="text-wrapper">
                        <div class="text-block">
                            <h2 class="text-title"><span class="orage">our</span> latest blog</h2>
                            <p class="text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Accusamus
                                eos esse, illum quam nisi minima.</p>
                        </div>
                    </div>
                    <div class="blog-container">
                        <section class="blog-block">
                            <div class="blog-block-imagine orange-block">
                                <img src="./images/Company-Branding-and-SEO.png" alt="" class="blog-imagine">
                            </div>
                            <div class="blog-block-info orange">
                                <ul class="blog-block-post">
                                    <li class="blog-block-post-user">
                                        by admin
                                    </li>
                                    <li class="blog-block-post-user">
                                        comments
                                    </li>
                                    <li class="blog-block-post-user">
                                        like
                                    </li>
                                </ul>
                                <div class="blog-block-inside">
                                    <h5 class="blog-block-title">clients orders on his phone</h5>
                                    <p class="blog-block-description">Lorem ipsum, dolor sit amet consectetur
                                        adipisicing elit. Quisquam fuga soluta officiis, rem debitis ab.</p>
                                    <span class="blog-block-more">loen more</span>
                                </div>
                        </section>
                        <section class="blog-block">
                            <div class="blog-block-imagine">
                                <img src="./images/Company-Branding-and-SEO.png" alt="" class="blog-imagine">
                            </div>
                            <div class="blog-block-info">
                                <ul class="blog-block-post">
                                    <li class="blog-block-post-user">
                                        by admin
                                    </li>
                                    <li class="blog-block-post-user">
                                        comments
                                    </li>
                                    <li class="blog-block-post-user">
                                        like
                                    </li>
                                </ul>
                                <div class="blog-block-inside">
                                    <h5 class="blog-block-title">clients orders on his phone</h5>
                                    <p class="blog-block-description">Lorem ipsum, dolor sit amet consectetur
                                        adipisicing elit. Quisquam fuga soluta officiis, rem debitis ab.</p>
                                    <span class="blog-block-more">loen more</span>
                                </div>
                        </section>
                        <section class="blog-block">
                            <div class="blog-block-imagine orange-block">
                                <img src="./images/Company-Branding-and-SEO.png" alt="" class="blog-imagine">
                            </div>
                            <div class="blog-block-info orange">
                                <ul class="blog-block-post">
                                    <li class="blog-block-post-user">
                                        by admin
                                    </li>
                                    <li class="blog-block-post-user">
                                        comments
                                    </li>
                                    <li class="blog-block-post-user">
                                        like
                                    </li>
                                </ul>
                                <div class="blog-block-inside">
                                    <h5 class="blog-block-title">clients orders on his phone</h5>
                                    <p class="blog-block-description">Lorem ipsum, dolor sit amet consectetur
                                        adipisicing elit. Quisquam fuga soluta officiis, rem debitis ab.</p>
                                    <span class="blog-block-more">loen more</span>
                                </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>











    <footer>
        <div class="footer-wrapper">
            <div class="main-footer">
                <div class="footer-info">
                    <div>
                        <img src="../images/Forma_1.png" alt="">
                        <h2>seo.maza</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur the shape adipisicing elit, sed do eiusmod tempor
                        incididunt
                        a ut labore Lorem ipsum dolor sit amet, consectetur i adipisicing elit, sed do eiusmod
                        tempor
                        incididunt ut labore end<br /></p>

                    <p>Lorem ipsum dolor sit amet, consectetur shape to a adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore<br /></p>

                    <p>Lorem ipsum dolor sit amet, consectetur tob the a in araaadipisicing elit, sed do eiusmod</p>
                </div>
                <div class="footer_contact-us">
                    <h2>contact with us</h2>
                    <form>
                        <input type="text" placeholder="Your Name Here*">
                        <input type="text" placeholder="Your Email Here*">
                        <input class="big-input" type="text" placeholder="Message*">
                        <button>Submit</button>
                    </form>
                </div>
                <div class="footer_latest-news">
                    <h2>lates news</h2>
                    <div>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="super-footer">
                <p>Copyright © 2018 All Right by Thememarshall..</p>
            </div>
        </div>
    </footer>
    </div>
</body>

</html>