<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./css/vendor.min.css">
    <link rel="stylesheet" href="./css/googleFonts.min.css">
    <link rel="stylesheet" href="./css/home.min.css">
</head>

<body>
    <div>
        <div class="header-container">
            <div class="header-wrapper">
                <div class="header">
                    <span class="header-register">
                        Register for FREE! | Login
                    </span>
                    <div class="header-contacts">
                        <span>+009 998 885 550</span>
                        <span>Youremailhere@gmail.com</span>
                    </div>
                    <div class="header_social-media">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.behance.net/" target="_blank"><i class="fab fa-behance"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://vimeo.com/" target="_blank"><i class="fab fa-vimeo-v"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>

            <div class="sub-header">
                <div class="sub-header-container">
                    <div class="sub-header_logo">
                        <img src="../images/logo.png" alt="">
                        <img src="../images/logo-text.png" alt="">
                    </div>
                    <div class="sub-header_list">
                        <ul>
                            <li>home</li>
                            <li>about</li>
                            <li>service</li>
                            <li>case study</li>
                            <li>bolg</li>
                            <li>page</li>
                            <li>contact</li>
                        </ul>
                    </div>
                    <div class="sub-header_analyze">
                        <button>free seo analyze</button>
                    </div>
                </div>
            </div>
        </div>










        <div class="main">
            <div class="slider">
                <h2 class="slider-block"></h2>
                <span class="slider-title"></span>
                <p class="slider-description"></p>
                <p class="slider-description-text"></p>
                <p class="slider-description-text"></p>
                <div class="btn-block">
                    <button class="btn"></button>
                </div>
            </div>
            <div class="slider-image">
                <img src="" alt="">
            </div>
        </div>
        <div class="about-us">
            <div class="about-text-block">
                <h2 class="about-title"></h2>
                <p class="about-description"></p>
            </div>
            <div class="about-container">
                <section class="about-block">
                    <h4 class="about-block-title"></h4>
                    <p class="about-block-description"></p>
                    <p class="about-block-more"></p>
                </section>
                <section class="about-block">
                    <h4 class="about-block-title"></h4>
                    <p class="about-block-description"></p>
                    <p class="about-block-more"></p>
                </section>
                <section class="about-block">
                    <h4 class="about-block-title"></h4>
                    <p class="about-block-description"></p>
                    <p class="about-block-more"></p>
                </section>
            </div>
            <div class="about-info-block">
                <h4 class="title"></h4>
                <p class="about-info-descripion"></p>
            </div>
            <div class="about-image-block">
                <img src="" alt="">
            </div>
            <div class="btn-block">
                <button class="btn"></button>
                <button class="btn"></button>
            </div>
        </div>
        <div class="archive">
            <div class="achive-container">
                <section class="achive-block">
                    <div class="achive-content">
                        <i class="achive-icons"></i>
                        <span class="achive-numbers"></span>
                        <span class="achive-names"></span>
                    </div>
                </section>
                <section class="achive-block">
                    <div class="achive-content">
                        <i class="achive-icons"></i>
                        <span class="achive-numbers"></span>
                        <span class="achive-names"></span>
                    </div>
                </section>
                <section class="achive-block">
                    <div class="achive-content">
                        <i class="achive-icons"></i>
                        <span class="achive-numbers"></span>
                        <span class="achive-names"></span>
                    </div>
                </section>
                <section class="achive-block">
                    <div class="achive-content">
                        <i class="achive-icons"></i>
                        <span class="achive-numbers"></span>
                        <span class="achive-names"></span>
                    </div>
                </section>>
            </div>
        </div>
        <div class="service">
            <div class="service-text-block">
                <h2 class="service-title"></h2>
                <p class="service-description"></p>
            </div>
            <div class="service-container">
                <section class="service-block">
                    <div class="service-content">
                        <i class="service-image"></i>
                        <span class="service-block-title"></span>
                        <span class="service-block-description"></span>
                        <span class="service-block-more"></span>
                    </div>
                </section>>
                <section class="service-block">
                    <div class="service-content">
                        <i class="service-image"></i>
                        <span class="service-block-title"></span>
                        <span class="service-block-description"></span>
                        <span class="service-block-more"></span>
                    </div>
                </section>>
                <section class="service-block">
                    <div class="service-content">
                        <i class="service-image"></i>
                        <span class="service-block-title"></span>
                        <span class="service-block-description"></span>
                        <span class="service-block-more"></span>
                    </div>
                </section>>
            </div>
            <div class="btn-block">
                <button class="btn"></button>
            </div>
        </div>
        <div class="case">
            <div class="case-text-block">
                <h2 class="case-title"></h2>
                <p class="case-description"></p>
            </div>
            <div class="case-container">
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title"></h4>
                        <p class="case-block-footer-description"></p>
                    </div>
                </section>
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title"></h4>
                        <p class="case-block-footer-description"></p>
                    </div>
                </section>
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title"></h4>
                        <p class="case-block-footer-description"></p>
                    </div>
                </section>
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title"></h4>
                        <p class="case-block-footer-description"></p>
                    </div>
                </section>
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title"></h4>
                        <p class="case-block-footer-description"></p>
                    </div>
                </section>
                <section class="case-block">
                    <div class="case-block-image">
                        <img src="" alt="">
                    </div>
                    <div class="case-block-footer">
                        <h4 class="case-block-footer-title"></h4>
                        <p class="case-block-footer-description"></p>
                    </div>
                </section>
            </div>
            <div class="btn-block">
                <button class="btn"></button>
            </div>
        </div>
        <div class="email">
            <div class="email-text-block">
                <h4 class="email-text"></h4>
            </div>
            <div class="email-input-block">
                <input type="text" class="email-input">
                <button class="email-btn"></button>
            </div>
        </div>
        <div class="pricing">
            <div class="pricing-text-block">
                <h2 class="pricing-title"></h2>
                <p class="pricing-description"></p>
            </div>
            <div class="pricing-container">
                <div class="pricing-block">
                    <div class="pricing-block-top">
                        <div class="pricing-iamge-top">
                             <img src="" alt="">
                        </div>
                        <span class="pricing-top-title"></span>
                        <h3 class="pricing-top-price"></h3>
                    </div>
                    <div class="pricing-block-bottom">
                        <ul class="pricing-bottom-item">
                            <li class="pricing-bottom-list"><a href="" class="pricing-bottom-link"><i class="quote"></i></a></li>
                            <li class="pricing-bottom-list"><a href="" class="pricing-bottom-link"><i class="quote"></i></a></li>
                            <li class="pricing-bottom-list"><a href="" class="pricing-bottom-link"><i class="quote"></i></a></li>
                            <li class="pricing-bottom-list"><a href="" class="pricing-bottom-link"><i class="quote"></i></a></li>
                            <li class="pricing-bottom-list"><a href="" class="pricing-bottom-link"><i class="quote"></i></a></li>
                        </ul>
                        <button class="pricing-btn"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="team">
            <div class="team-text-block">
                <h2 class="team-title"></h2>
                <p class="team-description"></p>
            </div>
            <div class="team-container">
                <section class="team-block">
                    <div class="team-imagine-block">
                        <img src="" alt="">
                    </div>
                    <div class="team-block-info">
                        
                    </div>
                </section>
            </div>
        </div>
        <div class="client"></div>
        <div class="blog"></div>
    </div>











    <footer>
        <div class="footer-wrapper">
            <div class="main-footer">
                <div class="footer-info">
                    <div>
                        <img src="../images/Forma_1.png" alt="">
                        <h2>seo.maza</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur the shape adipisicing elit, sed do eiusmod tempor
                        incididunt
                        a ut labore Lorem ipsum dolor sit amet, consectetur i adipisicing elit, sed do eiusmod
                        tempor
                        incididunt ut labore end<br /></p>

                    <p>Lorem ipsum dolor sit amet, consectetur shape to a adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore<br /></p>

                    <p>Lorem ipsum dolor sit amet, consectetur tob the a in araaadipisicing elit, sed do eiusmod</p>
                </div>
                <div class="footer_contact-us">
                    <h2>contact with us</h2>
                    <form>
                        <input type="text" placeholder="Your Name Here*">
                        <input type="text" placeholder="Your Email Here*">
                        <input class="big-input" type="text" placeholder="Message*">
                        <button>Submit</button>
                    </form>
                </div>
                <div class="footer_latest-news">
                    <h2>lates news</h2>
                    <div>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                        <p>How can be successfull in market seo.maza<br />Market place..</p>
                        <p>13 Feb, 2016 / Business</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="super-footer">
                <p>Copyright © 2018 All Right by Thememarshall..</p>
            </div>
        </div>
        x
    </footer>
    </div>
</body>

</html>